html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --base-color : #8ed557 ;
    --link-color : #3c4354 ;
    --navMenu-link-color : #6d6d6d ;
    --yellow-color : #fbcb65 ;
	--color-777 : #777 ;
	--color-6d : #6d6d6d ;
	--color-3c43 : #3c4354 ;
    --bg-color : #363d4d ;
    --secondBg-color : #3c4354 ;
    --thirdBg-color : rgba(247,248,250,.86) ;
	--bgColor-input : #f8f9fa ;
	--hover-Gray : #e5e6eb ;
	--hover-green : #70cb2b ;
	--radius : 4px
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'IranianSans' , tahoma ;
	word-spacing: -1.5px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

/* finish variable defining */

/* start header */

.header{
	background-color: #fff;
	padding: 18px 0 15px;
	position: sticky;
	top: 0;
	z-index: 2;
}

.container{
	max-width: 1270px;
	margin: 0 auto;
}

.header .container{
	display: flex;
	justify-content: space-between;
}

/* start menu hamburger */

.container-menu-hamburger-and-logo{
	display: flex;
	align-items: center;
}

.container-menu-hamburger{
	margin-left: 30px;
	display: none;
}

.container-menu-hamburger__lines{
	cursor: pointer;
}

.container-menu-hamburger__lines div{
	width: 20px;
	height: 3px;
	background-color: #a2a6ab;
	border-radius: 5px;
}

.container-menu-hamburger__lines div:nth-child(2){
	margin: 4px 0;
}

.container-side-bar-menus{
	background-color: #fff;
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0; 
	width: 300px;
	overflow: scroll;
	transition: .3s;
}

.container-menu-hamburger__lines:hover + .container-side-bar-menus{
	right: 300px;
}

.container-side-bar-menus__logo-img{
	background-color: #fff;
	padding: 20px 0;
	text-align: center;
	position: sticky;
	top: 0;
	right: 0;
}

.container-side-bar-menus__logo-img img{
	width: 140px;
	height: 40px;
}

.container-side-bar-menus__search-box{
	background-color: var(--bgColor-input);
	border-radius: var(--radius);
	margin: 0 15px;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 15px 15px 15px 0;
}

.container-side-bar-menus__search-box .fa-search{
	font-size: 20px;
	margin: 0 15px;
}

.container-side-bar-menus__search-box input{
	border: none;
	outline: none;
	background-color: var(--bgColor-input);
	width: 80%;
}

.container-side-bar-menus__search-box input::placeholder{
	color: var(--navMenu-link-color);
	font-size: .85rem;
	font-family: 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar__menu{
	padding-bottom: 50px ;
	border-bottom: 1px solid #eee;
}

.container-side-bar-menus__navigation-side-bar__menu__link{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	transition: .5s;
	cursor: pointer;
}

.container-side-bar-menus__navigation-side-bar__menu__link:hover{
	background-color: var(--hover-Gray) ;
}

.container-side-bar-menus__navigation-side-bar__menu__link a{
	color: var(--color-777);
	font: .94rem 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar__menu__link .fa-angle-down{
	color: var(--color-777);
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu{
	background-color: var(--hover-Gray);
	overflow: hidden;
	height: 0;
}

.container-side-bar-menus__navigation-side-bar__menu__link:hover + .container-side-bar-menus__navigation-side-bar__menu__under-menu{
	overflow: visible;
	height: fit-content;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu li{
	padding: 15px;
	transition: .5s;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu li:hover{
	background-color: #d4d5d8 ;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu a{
	color: var(--color-777);
	font: .9rem 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar > a {
	color: var(--yellow-color);
	display: inline-block;
	padding: 40px 25px 0;
}

.container-menu-hamburger-and-logo__background-white{
	position: fixed;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	transition: .3s;
}

.container-menu-hamburger__lines:hover ~ .container-menu-hamburger-and-logo__background-white{
	right: 300px;
}

/* finish menu hamburger */

.header .logo-site{
	width: 160px;
	height: 48px;
}

.header__left-container{
	display: flex;
	align-items: center;
}

.header__left-container__easy-access , .header__left-container__shopping-cart{
	width: 50px;
    height: 50px;
	border-radius: var(--radius);
    background-color: #f8f9fb;
	transition: .3s;
}

.header__left-container__easy-access:hover , .header__left-container__shopping-cart:hover{
	background-color: #e5e6eb;
}

.header__left-container__easy-access{
	display: grid;
	grid-template-columns: 9px 9px;
	grid-template-rows: 9px 9px;
	align-content: center;
	justify-content: center;
	gap: 2px;
}

.header__left-container__easy-access div {
	background-color: rgb(165, 163, 163);
	border-radius: 3px;
}

.header__left-container__shopping-cart {
	margin: 0 18px;
}

.header__left-container__shopping-cart .fa-cart-plus{
	color: rgb(165, 163, 163);
	font-size: 20px;
	margin-right: calc(50% - 11.25px);
	line-height: 50px;
}

.header__left-container__container-register{
	background-color: var(--base-color);
	padding: 17px 25px;
	border-radius: var(--radius);
	display: flex;
	align-items: center;
	transition: .3s;
}

.header__left-container__container-register:hover{
	background-color: var(--hover-green);
}

.header__left-container__container-register .fa-user-circle-o{
	color: #fff;
	margin-left: 10px;
}

.header__left-container__container-register__register a{
	color: #fff;
	font: .94rem 'IranianSans' ;
}

/* finish header */

/* start navigation bar */

.container-navigation-bar{
	background-color: rgb(250, 250, 250);
	padding: 15px 0;
}

.navigation-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.container-menu{
	display: flex;
	align-items: center;
}

.container-menu__list__container-link {
	display: flex;
	align-items: center;
	margin: 0 10px;
	cursor: pointer;
}

.container-menu__list:first-child .container-menu__list__container-link{
	margin-right: 0;
} 

.container-menu__list__container-link a{
	color: var(--color-3c4354);
	padding: 17px 0;
	transition: .4s;
}

.container-menu__list:last-child .container-menu__list__container-link a span{
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--color-3c43);
	transition: .4s;
}

.container-menu__list:hover .container-menu__list__container-link a , .container-menu__list:hover .container-menu__list__container-link .fa-angle-down , .container-menu__list:not(:first-child) .container-menu__list__under-menu a:hover{
	color: var(--base-color);
}

.container-menu__list:last-child:hover .container-menu__list__container-link span{
	background-color: var(--base-color);
}

.container-menu__list__container-link .fa-angle-down{
	color: #acadb1;
    font-size: 10px;
	margin-right: 10px;
	transition: .6s;
}

.container-menu__lists__under-menu{
	background-color: #fff;
	box-shadow: 0 15px 50px rgb(173 188 200 / 22%);
	position: absolute;
	right: 0;
	left: 0 ;
	top: 45px;
	padding: 30px;
	border-radius: var(--radius);
	transition: .3s;
	opacity: 0;
	visibility: hidden;  
	z-index: 3;
}

.container-menu__list:hover .container-menu__lists__under-menu{
	top: 50px ;
	opacity: 1;
	visibility: visible;
}

.container-menu__list__under-menu{
	display: flex;
	flex-wrap: wrap;
}

.container-menu__list__under-menu li{
	width: 20%;
}

.container-menu__list__under-menu a{
	display: inline-block;
	padding: 25px 0;
	color: var(--color-6d);
	font-size: .94rem;
	transition: .4s;
}

.container-menu__lists__under-menu--nav-bestselling , .container-menu__lists__under-menu--nav-bestselling li{
	padding: 15px 0;
}

.container-menu__lists__under-menu--nav-bestselling li , .container-menu__lists__under-menu__container-wordpress-theme li{
	width: 25%;
}

.container-menu__lists__under-menu--nav-bestselling li:not(:last-child){
	border-left: 1px solid rgb(218, 218, 218);
}

.container-menu__lists__under-menu--nav-bestselling a{
	display: block;
	margin: 0 auto;
	width: fit-content;
	padding: 0;
}

.container-menu__lists__under-menu--nav-bestselling a span:first-child{
	font-size: 1.13rem;
	color: var(--color-6d);
	transition: .4s;
}

.container-menu__lists__under-menu--nav-bestselling a span:first-child:hover{
	color: var(--link-color);
}

.container-menu__lists__under-menu--nav-bestselling a span:last-child{
	display: block;
	padding: 12px 7px 0 0;
	font-size: .75rem;
}

.container-menu__lists__under-menu__container-wordpress-theme{
	display: flex;
	justify-content: space-between;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress{
	position: relative;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress::before{
	content: '';
	background-color: var(--base-color);
	position: absolute;
	right: -8px;
	top: calc(50% - 95px);
	height: 190px;
	width: 20px;
	border-radius: 8px;
	transform: rotateZ(3deg);
	transition: .1s;
	z-index: -1;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress:hover::before{
	transform: rotateZ(5deg);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress a{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	padding: 15px;
	border-radius: var(--radius);
	box-shadow: 0 10px 50px rgb(119 132 157 / 14%);
	z-index: 3;
} 

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress a:hover{
	box-shadow: 0px 0px 32px 4px rgb(119 132 157 / 14%);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress img{
	max-width: 170px;
	max-height: 172px;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span{
	display: block;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span:nth-child(2){
	color: var(--color-3c43);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span:nth-child(3){
	color: var(--color-3c43);
	font-size: .88rem;
    color: #8b8b8b;
	margin-top: 10px;
}

.container-view-more-items{
	display: flex;
	align-items: baseline;
	margin: 30px 0 15px;
}

.container-view-more-items > div:first-child , .container-view-more-items > div:last-child{
	border-bottom: 1px dashed var(--hover-Gray);
}

.container-view-more-items > div:first-child{
	width: 30px;
}

.container-view-more-items > div:last-child{
	width: calc(100% - (30px + 25px + 186px));
}

.container-view-more-items__text:hover + div{
	width: calc(100% - (30px + 25px + 117px));
}

.container-view-more-items__text{
	display: flex;
	align-items: center;
	margin: 0 0 0 10px;
}

.container-view-more-items__text__pluse-minus span{
	color: var(--base-color);
	border: 1px solid var(--base-color);
	border-radius: var(--radius);
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 10px 0 15px;
}

.container-view-more-items__text:hover .container-view-more-items__text__pluse-minus span:first-child{
	display: none;
}

.container-view-more-items__text__pluse-minus span:last-child{
	display: none;
}

.container-view-more-items__text:hover .container-view-more-items__text__pluse-minus span:last-child{
	display: inline-block;
	background-color: var(--base-color);
	color: white;
}

.container-view-more-items__text > span {
	color: #a4a4a4;
}

.container-view-more-items__text:hover > span:nth-child(2){
	display: none;
}

.container-view-more-items__text > span:last-child{
	display: none;
}

.container-view-more-items__text:hover > span:last-child{
	display: block;
}

.navigation-bar > a{
	color: var(--yellow-color);
	font-size: .94rem;
	padding-left: 15px;
}

/* finish navigation bar */

@media (max-width : 1360px){
	.container{
		margin: 0 35px;
	}

	.navigation-bar > a{
		display: none;
	}
}

@media (max-width : 1199px){
	.header{
		padding: 20px 0;
	}

	.container{
		max-width: 930px;
		margin: 0 auto;
	}

	.container-menu-hamburger{
		display: block;
	}

	.container-navigation-bar{
		display: none;
	}
}

@media (max-width : 991px){
	.container{
		max-width: 707px;
	}
}

@media (max-width : 767px){
	.container{
		max-width: 520px;
	}

	.header__left-container__easy-access , .header__left-container__container-register__register{
		display: none;
	}

	.header__left-container__container-register{
		padding: 25px 20px;
	}
}

@media (max-width : 575px){
	.header{
		padding: 20px 15px;
	}

	.container-menu-hamburger {
		margin-left: 15px;
	}
	
	.header .logo-site{
		height: 38px;
	}
}

@media (max-width : 480px){
	.container{
		max-width: 360px;
	}
}

@media (max-width : 362px){
	.header .container{
		flex-direction: column;
	}

	.container-menu-hamburger-and-logo{
		justify-content: space-between;
	}

	.header__left-container{
		justify-content: center;
		margin-top: 15px;
	}
}