html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --base-color : #8ed557 ;
    --link-color : #3c4354 ;
    --navMenu-link-color : #6d6d6d ;
    --yellow-color : #fbcb65 ;
	--color-777 : #777 ;
	--color-8e9 : #8e939b ;
	--color-9a : #9a9a9a ;
	--color-a9 : #a9a9a9 ;
	--color-aa : #aaa ;
	--color-6e : #6e7177 ;
	--color-ef :#efefef;
	--bgColor-c9 : #c9c9c9 ;
	--color-95 : #959595 ;
	--color-4d : #4d535b ;
	--color-bf : #bfc5ca ;
	--color-6d : #6d6d6d ;
	--color-a2 : #a2a6ab ;
	--color-a4 : #a4a4a4 ;
    --bg-color : #363d4d ;
	--bgColor-f1 : #f1f1f1 ;
	--bgColor-f8 : #f8f9fa ;
	--bgColor-ac : #acadb1 ;
    --thirdBg-color : rgba(247,248,250,.86) ;
	--bgColor-input : #f8f9fa ;
	--hover-Gray : #f5f5f5 ;
	--hover-green : #70cb2b ;
	--radius : 4px
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'IranianSans' , tahoma ;
	word-spacing: -1.5px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

/* finish variable defining */

/* start header */

.hover-green , .hover-gray , .hover-color-green{
	transition: .3s;
}

.hover-green:hover{
	background-color: var(--hover-green);
}

.hover-gray:hover{
	background-color: var(--hover-Gray);
}

.hover-color-green:hover{
	color: var(--base-color);
}

.header{
	background-color: #fff;
	padding: 18px 0 15px;
	position: sticky;
	top: 0;
	z-index: 4;
}

.container , .second-container{
	max-width: 1270px;
	margin: 0 auto;
}

.header .container{
	display: flex;
	justify-content: space-between;
}

/* start menu hamburger */

.container-menu-hamburger-and-logo{
	display: flex;
	align-items: center;
}

.container-menu-hamburger{
	margin-left: 30px;
	display: none;
}

.container-menu-hamburger__lines{
	cursor: pointer;
}

.container-menu-hamburger__lines div{
	width: 20px;
	height: 3px;
	background-color: #a2a6ab;
	border-radius: 5px;
}

.container-menu-hamburger__lines div:nth-child(2){
	margin: 4px 0;
}

.container-side-bar-menus{
	background-color: #fff;
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0; 
	width: 300px;
	overflow: scroll;
	transition: .3s;
}

.container-menu-hamburger__lines:hover + .container-side-bar-menus{
	right: 300px;
}

.container-side-bar-menus__logo-img{
	background-color: #fff;
	padding: 20px 0;
	text-align: center;
	position: sticky;
	top: 0;
	right: 0;
}

.container-side-bar-menus__logo-img img{
	width: 140px;
	height: 40px;
}

.container-side-bar-menus__search-box{
	background-color: var(--bgColor-input);
	border-radius: var(--radius);
	margin: 0 15px;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 15px 15px 15px 0;
}

.container-side-bar-menus__search-box .fa-search{
	font-size: 20px;
	margin: 0 15px;
}

.container-side-bar-menus__search-box input{
	border: none;
	outline: none;
	background-color: var(--bgColor-input);
	width: 80%;
}

.container-side-bar-menus__search-box input::placeholder{
	color: var(--navMenu-link-color);
	font-size: .85rem;
	font-family: 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar__menu{
	padding-bottom: 50px ;
	border-bottom: 1px solid #eee;
}

.container-side-bar-menus__navigation-side-bar__menu__link{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	transition: .5s;
	cursor: pointer;
}

.container-side-bar-menus__navigation-side-bar__menu__link:hover{
	background-color: var(--hover-Gray) ;
}

.container-side-bar-menus__navigation-side-bar__menu__link a{
	color: var(--color-777);
	font: .94rem 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar__menu__link .fa-angle-down{
	color: var(--color-777);
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu{
	background-color: var(--hover-Gray);
	overflow: hidden;
	height: 0;
}

.container-side-bar-menus__navigation-side-bar__menu__link:hover + .container-side-bar-menus__navigation-side-bar__menu__under-menu{
	overflow: visible;
	height: fit-content;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu li{
	padding: 15px;
	transition: .5s;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu li:hover{
	background-color: #d4d5d8 ;
}

.container-side-bar-menus__navigation-side-bar__menu__under-menu a{
	color: var(--color-777);
	font: .9rem 'IranianSans' , tahoma ;
}

.container-side-bar-menus__navigation-side-bar > a {
	color: var(--yellow-color);
	display: inline-block;
	padding: 40px 25px 0;
}

.container-menu-hamburger-and-logo__background-white{
	position: fixed;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	transition: .3s;
}

.container-menu-hamburger__lines:hover ~ .container-menu-hamburger-and-logo__background-white{
	right: 300px;
}

/* finish menu hamburger */

.header .logo-site{
	width: 160px;
	height: 48px;
}

.header__left-container{
	display: flex;
	align-items: center;
}

.header__left-container__easy-access , .header__left-container__shopping-cart{
	width: 50px;
    height: 50px;
	border-radius: var(--radius);
    background-color: #f8f9fb;
}

.header__left-container__easy-access{
	display: grid;
	grid-template-columns: 9px 9px;
	grid-template-rows: 9px 9px;
	align-content: center;
	justify-content: center;
	gap: 2px;
}

.header__left-container__easy-access div {
	background-color: rgb(165, 163, 163);
	border-radius: 3px;
}

.header__left-container__shopping-cart {
	margin: 0 18px;
}

.header__left-container__shopping-cart .fa-cart-plus{
	color: rgb(165, 163, 163);
	font-size: 20px;
	margin-right: calc(50% - 11.25px);
	line-height: 50px;
}

.header__left-container__container-register{
	background-color: var(--base-color);
	padding: 17px 25px;
	border-radius: var(--radius);
	display: flex;
	align-items: center;
}

.header__left-container__container-register .fa-user-circle-o{
	color: #fff;
	margin-left: 10px;
}

.header__left-container__container-register__register a{
	color: #fff;
	font: .94rem 'IranianSans' ;
}

/* finish header */

/* start navigation bar */

.container-navigation-bar{
	background-color: rgb(250, 250, 250);
	padding: 15px 0;
}

.navigation-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.container-menu{
	display: flex;
	align-items: center;
}

.container-menu__list__container-link {
	display: flex;
	align-items: center;
	margin: 0 10px;
	cursor: pointer;
}

.container-menu__list:first-child .container-menu__list__container-link{
	margin-right: 0;
} 

.container-menu__list__container-link a{
	color: var(--link-color);
	padding: 17px 0;
	transition: .4s;
}

.container-menu__list:last-child .container-menu__list__container-link a span{
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--link-color);
	transition: .4s;
}

.container-menu__list:hover .container-menu__list__container-link a , .container-menu__list:not(:first-child) .container-menu__list__under-menu a:hover{
	color: var(--base-color);
}

.container-menu__list:last-child:hover .container-menu__list__container-link span{
	background-color: var(--base-color);
}

.container-menu__list__container-link .fa-angle-down{
	color: #acadb1;
    font-size: 10px;
	margin-right: 10px;
	transition: 1s;
}

.container-menu__list:hover .container-menu__list__container-link .fa-angle-down{
	color: var(--base-color);
	margin-top: 5px;
}

.container-menu__lists__under-menu{
	background-color: #fff;
	box-shadow: 0 15px 50px rgb(173 188 200 / 22%);
	position: absolute;
	right: 0;
	left: 0 ;
	top: 45px;
	padding: 30px;
	border-radius: var(--radius);
	transition: .3s;
	opacity: 0;
	visibility: hidden;  
	z-index: 3;
}

.container-menu__list:hover .container-menu__lists__under-menu{
	top: 50px ;
	opacity: 1;
	visibility: visible;
}

.container-menu__list__under-menu{
	display: flex;
	flex-wrap: wrap;
}

.container-menu__list__under-menu li{
	width: 20%;
}

.container-menu__list__under-menu a{
	display: inline-block;
	padding: 25px 0;
	color: var(--color-6d);
	font-size: .94rem;
	transition: .4s;
}

.container-menu__lists__under-menu--nav-bestselling , .container-menu__lists__under-menu--nav-bestselling li{
	padding: 15px 0;
}

.container-menu__lists__under-menu--nav-bestselling li , .container-menu__lists__under-menu__container-wordpress-theme li{
	width: 25%;
}

.container-menu__lists__under-menu--nav-bestselling li:not(:last-child){
	border-left: 1px solid rgb(218, 218, 218);
}

.container-menu__lists__under-menu--nav-bestselling a{
	display: block;
	margin: 0 auto;
	width: fit-content;
	padding: 0;
}

.container-menu__lists__under-menu--nav-bestselling a span:first-child{
	font-size: 1.13rem;
	color: var(--color-6d);
	transition: .4s;
}

.container-menu__lists__under-menu--nav-bestselling a span:first-child:hover{
	color: var(--link-color);
}

.container-menu__lists__under-menu--nav-bestselling a span:last-child{
	display: block;
	padding: 12px 7px 0 0;
	font-size: .75rem;
}

.container-menu__lists__under-menu__container-wordpress-theme{
	display: flex;
	justify-content: space-between;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress{
	position: relative;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress::before{
	content: '';
	background-color: var(--base-color);
	position: absolute;
	right: -8px;
	top: calc(50% - 95px);
	height: 190px;
	width: 20px;
	border-radius: 8px;
	transform: rotateZ(3deg);
	transition: .1s;
	z-index: -1;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress:hover::before{
	transform: rotateZ(5deg);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress a{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	padding: 15px;
	border-radius: var(--radius);
	box-shadow: 0 10px 50px rgb(119 132 157 / 14%);
	z-index: 3;
} 

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress a:hover{
	box-shadow: 0px 0px 32px 4px rgb(119 132 157 / 14%);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress img{
	max-width: 170px;
	max-height: 172px;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span{
	display: block;
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span:nth-child(2){
	color: var(--link-color);
}

.container-menu__lists__under-menu__container-wordpress-theme__container-hiro-wordpress span:nth-child(3){
	color: var(--link-color);
	font-size: .88rem;
    color: #8b8b8b;
	margin-top: 10px;
}

.container-view-more-items{
	display: flex;
	align-items: baseline;
	margin: 30px 0 15px;
}

.container-view-more-items > div:first-child , .container-view-more-items > div:last-child{
	border-bottom: 1px dashed var(--hover-Gray);
}

.container-view-more-items > div:first-child{
	width: 30px;
}

.container-view-more-items > div:last-child{
	width: calc(100% - (30px + 25px + 186px));
}

.container-view-more-items__text:hover + div{
	width: calc(100% - (30px + 25px + 117px));
}

.container-view-more-items__text{
	display: flex;
	align-items: center;
	margin: 0 0 0 10px;
}

.container-view-more-items__text__pluse-minus span{
	color: var(--base-color);
	border: 1px solid var(--base-color);
	border-radius: var(--radius);
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 10px 0 15px;
}

.container-view-more-items__text:hover .container-view-more-items__text__pluse-minus span:first-child{
	display: none;
}

.container-view-more-items__text__pluse-minus span:last-child{
	display: none;
}

.container-view-more-items__text:hover .container-view-more-items__text__pluse-minus span:last-child{
	display: inline-block;
	background-color: var(--base-color);
	color: white;
}

.container-view-more-items__text > span {
	color: #a4a4a4;
}

.container-view-more-items__text:hover > span:nth-child(2){
	display: none;
}

.container-view-more-items__text > span:last-child{
	display: none;
}

.container-view-more-items__text:hover > span:last-child{
	display: block;
}

.navigation-bar > a{
	color: var(--yellow-color);
	font-size: .94rem;
	padding-left: 15px;
}

/* finish navigation bar */

/* start container intro rastChin */

.container-intro-rastChin{
	padding: 100px 0 70px;
	text-align: center;
}

.container-intro-rastChin__first-title{
	font-size: 1.25rem;
	font-weight: 400;
    color: var(--color-6d);
}

.container-intro-rastChin__second-title{
	font-size: 2.1rem;
    font-weight: 400;
    margin: 25px auto 40px;
	color:var(--link-color);
	width: 775px;
	line-height: 50px;
	word-spacing: -8px;
}

.container-intro-rastChin__second-title span{
	color: var(--base-color);
}

.total-container-search{
	display: flex;
	width: 817px;
	margin: 0 auto;
}

.container-search-box{
	position: relative;
	background-color: #fff;
	padding: 5px 2.5px;
	border-radius: var(--radius);
	display: flex;
	flex-grow: 1;
	box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
}

.container-all-products{
	background-color: #f1f1f1;
	color: var(--color-a9);
	padding: 11px 15px;
	border-radius: var(--radius);
	width: fit-content;
	margin-left: 15px;
}

.container-all-products .fa-angle-down{
	margin-right: 4px;
	font-size: 1rem;
}

.container-all-products__menus{
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: -246px;
	width: 224px;
	height: 240px;
	border-radius: var(--radius);
	box-shadow: 0 15px 50px rgb(173 188 200 / 22%);
	overflow-y: scroll;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
}

.container-all-products:hover .container-all-products__menus{
	opacity: 1;
	visibility: visible;
}

.container-all-products__menus a{
	display: inline-block;
	color: var(--color-8e9);
	width: 100%;
	padding: 12px 25px 12px 0;
	text-align: right;
}

.container-all-products__menus li:not(:first-child):hover{
	background-color: #f7f7f7;
}

.container-all-products__menus li:first-child a{
	background-color: var(--base-color);
	color: #fff;
}

.container-all-products__input-search{
	border: none;
	outline: none;
	width: calc(100% - 172px );
}

.container-all-products__input-search::placeholder{
	font-family: 'IranianSans' , tahoma ;
	font-size: .94rem;
	word-spacing: -2px;
	color: rgb(105, 103, 103);
}

.container-search-icon{
	background-color: var(--base-color);
	color: #fff;
	width: 54px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size: 21px;
	border-radius: var(--radius);
	margin-right: 15px;
	box-shadow: 0 5px 15px rgb(126 207 66 / 34%);
	cursor: pointer;
}

.the-most-upToDate-wordpress-theme{
	color: var(--link-color);
	margin: 70px 0 100px;
	font-size: 1.13rem;
}

.the-most-upToDate-wordpress-theme a{
	color: var(--base-color);
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 2px dotted var(--base-color);
	transition: .3s;
}

.the-most-upToDate-wordpress-theme a:hover{
	color: var(--hover-green);
	border-color: var(--hover-green);
}

.container-for-more-intro-rastChin{
	display: flex;
}

.container-for-more-intro-rastChin > div{
	border-radius: var(--radius);
}

.cash-back{
	flex-grow: 2;
	background: url(./img/cash-back-img.jpg) center right/cover no-repeat;
	padding: 40px 130px 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cash-back p{
	color: #fff;
	width: 217px;
	line-height: 43px;
}

.cash-back p span:first-child{
	font-size: 3.13rem;
	font-family: 'IranianSansBold';
}

.cash-back p span:nth-child(2){
	font-size: 1.38rem;
}

.about-rastChin{
	flex-grow: 1.3;
	background: url(./img/about-rastchin-img.png) center right/cover no-repeat;
	margin: 0 30px;
	padding: 83px 0;
}

.quality-guarantee{
	flex-grow: 1.3;
	background: url(./img/quality-guarantee-img.jpg) center right/cover no-repeat;
	padding: 83px 0;
}

.container-for-more-intro-rastChin a{
	color: #fff;
	display: inline-block;
	padding: 12px 20px;
	border: 1px solid #fff;
	border-radius: var(--radius);
	transition: .3s;
}

.container-for-more-intro-rastChin a:hover{
	background-color: #fff;
	color: var(--link-color);
}

/* finish container intro rastChin */

/* start container special products */

.first-container-for-common-style , .second-container-for-common-style , .total-container-essential-plugins-to-increase-sales {
	padding-bottom: 95px;
}

.container-common__product{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-common__product__title , .container-common-product__left , .container-latest-products-title__container-right{
	display: flex;
	align-items: center;
}

.container-common-product__title__img{
    background-color: var(--bgColor-f8);
	padding: 14px;
	margin-left: 20px;
	border-radius: var(--radius);
}

.container-common__product__title h2 , .container-latest-products-title__container-right h2{
	font: 1.1rem 'IranianSansBold';
	color: #53565d;
	word-spacing: -4px;
}

.arrow-right , .arrow-left{
	border-radius: var(--radius);
	width: 43px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	cursor: pointer;
}

.arrow-right{
	background-color: #fafafa;
    color: #d9d9d9;
}

.arrow-left{
	background-color: var(--bgColor-f8) ;
	color: var(--color-9a);
	margin: 0 10px 0 25px;
}

.container-common-product__left__see-all a{
	display: inline-block;
	border: 1px solid var(--base-color);
	border-radius: var(--radius);
	color: var(--base-color);
	padding: 15px;
	font-size: .94rem;
	transition: .3s;
}

.container-common-product__left__see-all a:hover{
	border-color: var(--hover-green);
	color: var(--hover-green);
}

.container-common__show-products{
	position: relative;
	margin-top: 40px;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.container-common__show-products::before{
	content: "";
	position: absolute;
	top: 7.5% ;
	width: 100%;
	height: 85%;
	background-color: var(--bgColor-f8);
	border-radius: 8px;
	z-index: -1;
}

.container-show-product{
	width: 23%;
	background-color: #fff;
	border-radius: var(--radius);
	box-shadow: 0 0 10px hsl(0deg 0% 75% / 35%);
	position: relative;
	height: 412px;
	margin: 0 13px;
	flex-shrink: 0;
	overflow-y: hidden;
}

.container-common__show-products__img img{
	width: 100%;
	border-radius: var(--radius) ;
}

.container-show-products__title{
	padding: 13px 23px 0;
}

.container-show-products__title h1{
	height: 56px;
	margin-bottom: 20px;
}

.container-show-product:hover .container-show-products__title h1:first-of-type{
	display: none;
}

.container-show-products__title h1:last-of-type{
	display: none;
}

.container-show-product:hover .container-show-products__title h1:last-of-type{
	display: block;
}

.container-show-products__title a{
	color: var(--link-color);
	font-size: 1rem;
	line-height: 28px;
}

.container-show-products__title p , .container-show-products__title p a{
	font-size: .88rem;
    color: var(--color-95);
}

.container-show-product__container-sales-information{
	position: absolute;
	left: -1px;
	right: -1px;
	top: 310px;
	transition: .3s;
	background-color: #fff;
}

.container-show-product:hover .container-show-product__container-sales-information{
	top: 230px;
}

.container-sales-information{
	padding: 25px 0;
	margin: 0 25px;
	border-top: 1px dashed var(--color-ef);
}

.container-sales-information__sales-details , .container-slider-show__more-info___container-AddToBasket-and-price__price{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sales-number span:first-child , .slider-show-sales-number span:first-child{
	color: var(--yellow-color);
	font: 1.25rem 'IranianSansBold'; 
    display: block;
	text-align: center;
}

.sales-number span:last-child , .percentage-like span:last-child , .slider-show-sales-number span:last-child , .slider-show-percentage-like span:last-child{
	font-size: .88rem;
    color: hsla(0,0%,42.7%,.8);
	display: block;
	margin-top: 10px;
	text-align: center;
}

.percentage-like span:first-child , .slider-show-percentage-like span:first-child{
	color: var(--base-color);
	font: 1.25rem 'IranianSansBold'; 
}

.price , .slider-show-price{
	border-right: 1px solid var(--color-ef);
	padding: 20px 15px 20px 0;
}

.price span:first-child , .slider-show-price span:first-child{
	color: var(--link-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.price span:last-child{
	font-size: .88rem;
    color: hsla(0,0%,42.7%,.8);
}

.container-shopping-cart-and-Preview{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.shopping-cart{
	background-color: var(--base-color);
	padding: 0 8px;
	border-radius: var(--radius);
	text-align: center;
}

.container-show-product:hover .shopping-cart{
	padding: 12px 8px;
}

.shopping-cart a{
	color: #fff;
	font-size: .8rem;
}

.preview{
	background-color: #f8f9fa;
	padding: 0 15px;
	border-radius: var(--radius);
	text-align: center;
}

.container-show-product:hover .preview{
	padding: 12px 15px;
}

.preview a {
	font-size: .88rem;
	color: var(--color-a2);
}

/* finish container special products */

/* start total-container-slider-show */

.container-sliders-show{
	background-color: rgb(255, 255, 255);
	display: flex;
	overflow: hidden;
}

.container-slider-show{
	display: flex;
	width: 100%;
	padding: 8px 16px;
	flex-shrink: 0;
	animation: slider-show 30s linear infinite alternate;
}

.container-slider-show__img {
	flex-grow: 1 ;
	margin-left: 15px;
	box-shadow: 0 10px 25px rgb(173 188 200 / 22%);
}

.container-slider-show__img img{
	border-radius: var(--radius);
	height: 100%;
	width: 100%;
}

.container-slider-show__more-info{
	flex-grow: 1 ;
    background-color: #fff;
	box-shadow: 0 5px 30px rgb(173 188 200 / 22%);
    padding: 50px;
	border-radius: var(--radius);
	margin-right: 15px;
}

.container-slider-show__more-info___container-title-and-timer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
	border-bottom: 1px dashed var(--color-ef);
}

.container-slider-show__more-info___container-title-and-timer__title , .container-slider-show__more-info___container-title-and-timer__timer{
	padding: 0 15px;
}

.container-slider-show__more-info___container-title-and-timer__title p a{
	font-family: dana,IRANSans,Tahoma,serif;
	font-size: 1rem;
    font-weight: 500;
    color: var(--color-4d);
	line-height: 2rem;
	display: block;
	margin-bottom: 15px;
}

.container-slider-show__more-info___container-title-and-timer__title span:last-child{
	line-height: 22px;
}

.container-slider-show__more-info___container-title-and-timer__title span:last-child , .container-slider-show__more-info___container-title-and-timer__title span a{
	color: var(--color-6d);
	font-size: .88rem;
}

.container-slider-show__more-info___container-title-and-timer__timer{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.counter-commom-style{
	background-color: #fff;
	box-shadow: 0 5px 30px rgb(173 188 200 / 22%);
	padding: 20px 10px;
	text-align: center;
	border-radius: var(--radius);
}

.counter-commom-style:not(:last-child){
	margin-right: 10px;
}

.counter-commom-style span{
	display: block;
	color: var(--color-6e);
}

.counter-commom-style:last-child span{
	color: red;
}

.counter-commom-style span:first-child{
	font-size: 1.3rem;
	font-weight: 900;
	margin-bottom: 5px;
}

.counter-commom-style span:last-child{
	font-size: .8rem;
}

.container-slider-show__more-info___container-AddToBasket-and-price{
	padding-top: 30px;
	display: flex;
}

.container-slider-show__more-info___container-AddToBasket-and-price__AddToBasket{
	flex-grow: 1;
	padding: 0 15px;
}

.slider-show-AddToBasket , .slider-show-preview{
	border-radius: var(--radius);
	max-width: 257px;
	height: 41px;
	padding: 10px 15px;
	text-align: center;
}

.slider-show-AddToBasket{
	background-color: var(--base-color);
	margin-bottom: 10px;
}

.slider-show-AddToBasket a{
	color: #fff;
    font-size: .88rem;
}

.slider-show-preview{
	background-color: var(--bgColor-f8);
}

.slider-show-preview a{
    font-size: .88rem;
	color: var(--color-a2);
}

.container-slider-show__more-info___container-AddToBasket-and-price__price{
	flex-grow: 1;
	padding: 0 15px;
}
	
.slider-show-sales-number , .slider-show-percentage-like {
	text-align: center;
}

.slider-show-percentage-like{
	margin: 0 10px;
}

.slider-show-price span:last-child{
	font-weight: 400;
    margin-right: 4px;
    font-size: .8rem;
    color: #aaa;
}

.container-slider-show:nth-child(4) .slider-show-price span:last-child {
	display: block;
	text-align: center;
	margin: 5px 0 0 0 ;
}

.total-container-slider-show-bottom-links{
	background: rgba(249,250,251,.85);
    padding: 5px 0;
    border-radius: var(--radius);
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.total-container-slider-show-bottom-links__arrow-common-styles{
	background: var(--hover-Gray);
    color: var(--color-bf);
    text-align: center;
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: var(--radius);
    cursor: pointer;
	flex-shrink: 0;
	z-index: 3;
}

.container-slider-show-bottom-links{
	display: flex ;
	overflow: hidden;
}

.container-slider-show-bottom-link{
	width: 20%;
	height: 47px;
    line-height: 47px;
	text-align: center;
	border-radius: var(--radius);
	flex-shrink: 0;
	margin-left: 20px;
	overflow: hidden;
}

.container-slider-show-bottom-link a{
	color: rgba(142,147,155,.89);
	font-size: .94rem;
	display: inline-block;
	padding: 0 30px;
	width: 100%;
}

.container-slider-show-bottom-link a:last-child{
	display: none;
}

/* start total-container-slider-show */

/* start banner */

.container-banner{
	background: url(./img/petroco-sanat-img.jpg) right top/cover no-repeat;
	margin: 60px 0;
	border-radius: var(--radius);
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.container-banner__btn button{
	border: none;
	outline: none;
	background-color: #fff;
	cursor: pointer;
	display: block;
	padding: 15px 30px;
	margin-left: 50px;
	border-radius: var(--radius);
}

.container-banner__btn a{
	color: #6f8892;
	font: .8rem 'IranianSans';
}

/* finish banner */

/* start total-container-latest-products */

.container-latest-products-titles .second-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-latest-products-title__container-right__container-icon{
	background-color: rgba(142,213,87,.09);
	width: 50px;
	height: 50px;
	border-radius: var(--radius);
	margin-left: 20px;
}

.container-latest-products-title__container-mid {
	display: flex;
}

.container-latest-products-title__container-mid a , .container-latest-products-title__second-container-mid a{
	color: var(--color-8e9);
	font-size: .8rem;
	display: inline-block;
	padding: 18px 25px;
	border-radius: var(--radius);
	transition: .3s;
}

.container-latest-products-title__container-mid a:not(:first-child):hover , .container-latest-products-title__second-container-mid a:not(:first-child):hover{
	background-color: rgb(234, 234, 234);
}

.container-latest-products-title__container-mid a:first-child , .container-latest-products-title__second-container-mid a:first-child{
	background-color: rgba(142,213,87,.08);
	color: var(--base-color);
}

.container-latest-products-title__container-left{
	position: relative;
    background: var(--bgColor-f1);
	display: flex;
	align-items: center;
	padding: 14px 20px 14px 15px;
	border-radius: var(--radius);
}

.container-latest-products-title__container-left__nine-to-square {
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	gap: 2px;
}

.container-latest-products-title__container-left__nine-to-square div{
	background-color: var(--bgColor-c9);
	width: 4px;
	height: 4px;
	border-radius: 1px;
}

.container-latest-products-title__container-left span{
	color: var(--color-aa);
    cursor: pointer;
	font-size: .94rem;
	margin: 0 20px 0 70px;
}

.container-latest-products-title__container-left i{
	color: var(--color-aa);
    cursor: pointer;
	font-size: .94rem;
}

.container-latest-products-title__container-left__under-menu{
	background-color: #fff;
	box-shadow: 0 15px 50px rgb(173 188 200 / 22%);
	position: absolute;
	left: -1px;
    right: 0;
    top: 44px;
	border-radius: var(--radius) ;
	overflow: hidden;
	transition: .4s;
	opacity: 0 ;
	visibility: hidden ;
	z-index: 2;
}

.container-latest-products-title__container-left:hover .container-latest-products-title__container-left__under-menu{
	top: 50px;
	opacity: 1 ;
	visibility: visible ;
}

.container-latest-products-title__container-left__under-menu a{
	display: inline-block;
	padding: 15px 23px;
	font-size: .94rem;
	color: var(--color-8e9);
	width: 98%;
	transition: .5s;
}

.container-latest-products-title__container-left__under-menu li:not(:first-child) a:hover{
	background-color: var(--hover-Gray);
}

.container-latest-products-title__container-left__under-menu li:first-child a{
	color: #fff;
	background-color: var(--base-color);
}

.container-latest-products-title__second-container-mid{
	display: none;
}

.container-new-products{
	background: rgba(249,250,251,.81);
    padding: 33px 0 20px;
	margin-top: 14px;
}

.container-new-products .container-common__show-products{
	margin-top: 0;
	padding: 0;
	overflow: visible;
	display: grid;
	grid-template-columns: repeat( 4 , 1fr);
	gap: 20px;
}

.container-new-products .container-common__show-products::before{
	display: none;
}

.container-new-products .container-show-product{
	width: 100%;
	margin: 0 ;
}

.container-new-products .container-show-product h1 {
    height: 56px;
}

/* finish total container latest products */

/* start total container the most popular products */

.second-container-for-common-style{
	background-color: var(--bg-color);
	padding: 40px 0;
}

.second-container-for-common-style .container-common-product__title__img{
	background-color: hsla(0,0%,100%,.07);
    color: hsla(0,0%,100%,.73);
}

.second-container-for-common-style .arrow-right{
	background-color: hsla(0,0%,96.1%,.02);
}

.second-container-for-common-style .arrow-left{
	background-color: hsla(0,0%,96.1%,.06);
}

.second-container-for-common-style .container-common__product h2 , .second-container-for-common-style .container-show-products__title h1 a , .second-container-for-common-style .price span:first-child{
	color: #fff;
}

.second-container-for-common-style .container-common__show-products::before{
	background: rgba(0,0,0,.03);
	z-index: 0;
}

.second-container-for-common-style .container-show-product{
	/* height: 432px; */
	background-color: var(--link-color) ;
	box-shadow: none;
}

.second-container-for-common-style .container-show-products__title h1 a {
	font-size: 1.1rem;
}

.second-container-for-common-style .container-show-products__title p{
	color: var(--color-95);
}

.second-container-for-common-style .container-show-products__title p a ,  .second-container-for-common-style .container-sales-information__sales-details span:last-child {
	color: hsla(0,0%,77.6%,.8);
}

.second-container-for-common-style .container-show-product__container-sales-information{
	background-color: var(--link-color) ;
}

.second-container-for-common-style .container-sales-information {
	border-top-color: hsla(0,0%,93.7%,.17);
} 

.second-container-for-common-style .container-sales-information__sales-details span:first-child ,.first-container-for-common-style:not(:nth-child(2)) .container-sales-information__sales-details span:first-child {
	font-size: 1rem;
}

.second-container-for-common-style .container-sales-information__sales-details div:not(:last-child) span:first-child , .first-container-for-common-style:not(:nth-child(2)) .container-sales-information__sales-details div:not(:last-child) span:first-child {
	font-weight: bold;
	display: block;
	text-align: center;
}

.second-container-for-common-style .preview {
    background-color: rgba(0,0,0,.1) ;
}

.second-container-for-common-style .preview:hover {
    background-color: rgba(0, 0, 0, 0.3) ;
}

/* start container the hottest page builder plugins */

.total-container-the-hottest-page-builder-plugins , .total-container-essential-plugins-to-increase-sales{
	margin-top: 50px;
}

.total-container-the-hottest-page-builder-plugins .arrow-left {
    margin: 0 10px 0 0;
}

.total-container-the-hottest-page-builder-plugins .container-common-product__left__see-all a , .total-container-essential-plugins-to-increase-sales .container-common-product__left__see-all a{
	display: none;
}

/* finish container the hottest page builder plugins */

/* start container page builders */

.container-page-builders .second-container{
	display: grid;
	grid-template-columns: repeat(6 , 1fr);
	column-gap: 20px;
}

.container-page-builder{
	background-color: #fff;
	border-radius: var(--radius);
    box-shadow: 0 2px 10px hsl(0deg 0% 75% / 35%);
	overflow: hidden;
}

.container-page-builder__links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 46px;
	transition: .3s;
}

.container-page-builder:hover .container-page-builder__links{
	background-color: var(--base-color);
}

.container-page-builder__links__title{
	font-size: .94rem;
	color: var(--color-4d);
	margin-bottom: 8px;
	text-align: center;
}

.container-page-builder__container-numbers-name{
	text-align: center;
}

.container-page-builder__container-numbers-name__number{
	font: .88rem 'IranianSansBold';
    color: var(--base-color);
}

.container-page-builder__container-numbers-name__name{
	color: var(--color-8e9);
	font-size: .8rem;
}

.container-page-builder:hover .container-page-builder__links span{
	color: #fff;
}

/* start container page builders */

/* start the hottest formats similar to Digikala */

.total-container-the-hottest-formats-similar-to-digikala{
	margin-top: 70px;
}

/* finish the hottest formats similar to Digikala */

/* start offers */

.container-Offers{
	display: flex;
	border-top: 2px dashed rgba(173,188,199,.33);
	padding: 70px 30px 90px 0;
}

.container-Offer{
	background: rgba(247,248,250,.86);
	border-radius: var(--radius);
	width: 33%;
	position: relative;
}

.container-Offer:nth-child(2){
	margin: 0 66px;
}

.container-Offer__total-container-link{
	display: block;
	padding: 30px 50px 30px 10px;
}

.container-Offer__total-container-link__container-img{
	padding: 16px;
	width: fit-content;
	border-radius: var(--radius);
	position: absolute;
	right: -30px;
	top: calc(50% - 31.25px);
}

.container-Offer:nth-child(1) .container-Offer__total-container-link__container-img{
	background-image: linear-gradient(180deg,#a1c5fd,#85adfa);
    box-shadow: 0 2px 15px rgb(152 189 252 / 54%);
}

.container-Offer:nth-child(2) .container-Offer__total-container-link__container-img{
	background-image: linear-gradient(180deg,#fecf6c,#ffbe70);
    box-shadow: 0 2px 15px rgb(254 206 108 / 65%);
}

.container-Offer:nth-child(3) .container-Offer__total-container-link__container-img{
	background-image: linear-gradient(180deg,#aae181,#89d351);
    box-shadow: 0 2px 15px rgb(137 211 81 / 43%);
}


.container-Offer__total-container-link__title{
	color: var(--color-4d);
	word-spacing: -4px;
	font-size: 1.06rem;
	margin-bottom: 15px;
}

.container-Offer__total-container-link__title i{
	color: var(--color-bf);
	font-size: 13px;
	margin-right: 8px;
	transition: .4s;
}

.container-Offer:hover .container-Offer__total-container-link__title i{
	margin-right: 17px;
	color: #b7b8ba ;
}

.container-Offer__total-container-link__description{
	color: var(--color-8e9);
	font-size: .88rem;
}

/* finish offers */

/* start selected designer of the week */

.total-container-selected-designer-of-the-week .container-common__show-products::before{
	display: none;
}

.total-container-selected-designer-of-the-week .container-common-product__title__img{
	background-color: #e0f9cd;
}

.total-container-selected-designer-of-the-week .container-common-product__left{
	display: none;
}

.total-container-selected-designer-of-the-week .container-common__show-products{
	display: grid;
	grid-template-columns: repeat(4 , 1fr);
	gap: 30px;
	overflow: visible;
}

.total-container-selected-designer-of-the-week .container-show-product{
	margin: 0;
	width: 100%;
}

.container-show-product--total-container-for-design{
	padding: 30px 30px 36px;
}

.container-design-img-and-title{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.container-design-img-and-title__container-img{
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow : 0 2px 25px rgba(119,132,157,.1);
}

.container-design-img-and-title__container-img img{
	width: 61px;
	height: 61px;
}

.container-design-img-and-title__container-title{
	margin-right: 22px;
}

.container-design-img-and-title__container-title h4{
	margin-bottom: 26px;
	font: 500 1.25rem 'dana','IranianSans','Tahoma','serif';
	color: var(--link-color);
}

.container-design-img-and-title__container-title h6{
	direction: ltr;
	font-size: .88rem;
	color: var(--color-a4);
	font-weight: 700;
}

.container-sell-and-favorite{
	margin: 0 25px;
	padding: 25px 0;
    border-top: 1px dashed var(--color-ef);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-sell-and-favorite__container-sell {
	padding-left: 25px;
	border-left: 1px solid var(--color-ef);
}

.container-sell-and-favorite span{
	display: block;
	text-align: center;
}

.container-sell-and-favorite__container-sell span:first-child{
	color: var(--yellow-color);
	font: 700 1.88rem 'IranianSansBold',dana,Tahoma;
}

.container-sell-and-favorite__container-sell span:last-child , .container-sell-and-favorite__container-favorite span:last-child{
	font-size: 1.3rem;
    color: hsla(0,0%,42.7%,.8);
	margin-top: 15px;
}

.container-sell-and-favorite__container-favorite{
	margin-right: 27px;
}

.container-sell-and-favorite__container-favorite span:first-child{
	color: var(--base-color);
	font: 700 1.88rem 'IranianSansBold',dana,Tahoma;
}

.total-container-selected-designer-of-the-week.first-container-for-common-style .container-sales-information__sales-details span:first-child {
    font-size: 1.25rem;
}

.container-design-all-products{
	width: fit-content;
	margin: 20px auto 0;
}

.container-design-all-products__btn{
	border: none;
	outline: none;
	border-radius: var(--radius);
	background-color: var(--bgColor-f8);
}

.container-design-all-products__btn a{
	display: block;
	padding: 10px 8px;
	color: var(--color-a2);
	font: .88rem 'IranianSans';
}

/* finish selected designer of the week */

@keyframes slider-show{
	0% , 16%{
		transform: translateX(0);
	}

	17% , 33%{
		transform: translateX(100%);
	}

	34% , 50%{
		transform: translateX(200%);
	}

	51% , 67%{
		transform: translateX(300%);
	}

	68% , 85%{
		transform: translateX(400%);
	}
	
	86% , 100%{
		transform: translateX(500%);
	}
}

@media (max-width : 1360px){
	.container{
		margin: 0 35px;
	}

	.navigation-bar > a{
		display: none;
	}

	.second-container{
		max-width: calc( 100% - 30px ) ;
		margin: 0 15px;
	}

	.container-show-product__container-sales-information{
		top: 311px;
	}

	.container-show-product:hover .container-show-product__container-sales-information{
		top: 235px;
	}

}

@media (max-width : 1225px){
	.container-Offers{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.container-Offer{
		width: 48%;
	}

	.container-Offer:nth-child(2){
		margin: 0 ;
	}

	.container-Offer:nth-child(3){
		margin-top: 30px ;
	}
}

@media (max-width : 1288px){
	.container-common-product__left{
		display: none;
	}

	.container-sales-information{
		margin: 0 14px;
	}

	.price span:first-child {
		font-size: .88rem;
	}

	.container-shopping-cart-and-Preview {
		padding: 0 6px;
	}

	.slider-show-price span:last-child {
		display: block;
		text-align: center;
		margin: 5px 0 0 0 ;
	}

	.container-sell-and-favorite__container-sell {
		padding-left: 15px;
	}

	.container-sell-and-favorite__container-favorite {
		margin-right: 15px;
	}
}

@media (max-width : 1233px){
	.slider-show-AddToBasket, .slider-show-preview {
		padding: 10px 6px;
	}
}

@media (max-width : 1199px){
	.header{
		padding: 20px 0;
	}

	.container , .second-container{
		max-width: 930px;
		margin: 0 auto;
	}

	.container-menu-hamburger{
		display: block;
	}

	.container-navigation-bar{
		display: none;
	}

	.total-container-search{
		width:100%;
	}

	.container-intro-rastChin__second-title{
		width: calc( 100% - 40px) ;
		margin: 25px 20px 40px;
	}

	.cash-back{
		padding: 40px 10px 40px 0;
	}

	.container-show-product{
		width: 43%;
		margin: 0 18px;
		height: 424px;
	}

	.container-show-product h1{
		height: fit-content;
	}
	
	.container-show-product__container-sales-information {
		top: 321px;
	}

	.container-show-product:hover .container-show-product__container-sales-information{
		top: 255px;
	}

	.container-sales-information__sales-details{
		padding-right: 20px ;
	}

	.shopping-cart{
		padding: 0 40px;
	}

	.container-show-product:hover .shopping-cart{
		padding: 12px 40px;
	}

	.preview{
		padding: 0 25px;
	}
	
	.container-show-product:hover .preview{
		padding: 12px 25px;
	}

	.container-slider-show{
		flex-direction: column;
	}

	.container-slider-show__img {
		margin: 0 0 15px 0;
	}
	
	.container-slider-show__more-info{
		margin: 0;
	}

	.container-slider-show__more-info___container-title-and-timer {
		padding-bottom: 40px;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price {
		padding-top: 50px;
		align-items: center;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price__AddToBasket {
		display: flex;
	}

	.slider-show-AddToBasket, .slider-show-preview {
		padding: 10px 30px;
	}

	.slider-show-preview{
		margin-right: 40px;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price__price {
		flex-grow: .2;
	}

	.container-slider-show-bottom-link{
		width: 25%;
	}

	.container-latest-products-title__container-mid{
		display: none;
	}

	.container-latest-products-title__second-container-mid{
		display: flex;
		justify-content: center;
		margin: 12px 0 40px;
	}

	.container-new-products .container-common__show-products , .total-container-selected-designer-of-the-week .container-common__show-products{
		grid-template-columns: repeat( 3 , 1fr);
	}

	.container-new-products .container-show-product , .total-container-selected-designer-of-the-week .container-show-product{
		height: 410px;
	}

	.container-new-products .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product__container-sales-information{
		top: 309px;
	}

	.container-new-products .container-show-product:hover .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product:hover .container-show-product__container-sales-information{
		top: 230px;
	}

	.container-sell-and-favorite__container-sell {
		padding-left: 25px;
	}

	.container-sell-and-favorite__container-favorite {
		margin-right: 27px;
	}

	.container-new-products .shopping-cart , .total-container-selected-designer-of-the-week .shopping-cart{
		padding: 0 14px;
	}
	
	.container-new-products .container-show-product:hover .shopping-cart , .total-container-selected-designer-of-the-week .container-show-product:hover .shopping-cart{
		padding: 12px 14px;
	}

	.container-new-products .preview , .total-container-selected-designer-of-the-week .preview{
		padding: 0 16px;
	}
	
	.container-new-products .container-show-product:hover .preview , .total-container-selected-designer-of-the-week .container-show-product:hover .preview{
		padding: 12px 16px;
	}

	.container-page-builders .second-container{
		grid-template-columns: repeat(4 , 1fr);
		gap: 20px;
	}

	.total-container-selected-designer-of-the-week .container-show-product h1{
		height: 56px;
	}

}

@media (max-width : 1024px){
	.price span:first-child {
		font-size: 1.3rem;
	}
}

@media (max-width : 991px){
	.container , .second-container{
		max-width: 707px;
	}

	.container-intro-rastChin__first-title{
		font-size: 1rem;
	}

	.container-intro-rastChin__second-title{
		font-size: 1.5rem;
		margin: 5px 20px 25px;
	}

	.container-for-more-intro-rastChin{
		flex-direction: column;
	}

	.cash-back , .about-rastChin , .quality-guarantee{
		flex-grow: 1;
	}

	.about-rastChin{
		margin: 0;
	}

	.container-show-product {
		height: 465px;
	}

	.container-show-product__container-sales-information , .container-show-product:hover .container-show-product__container-sales-information{
		top: 301px;
	}

	.container-show-product:hover .container-show-products__title h1:first-of-type{
		display: block;
	}

	.container-show-product:hover .container-show-products__title h1:last-of-type{
		display: none;
	}
	
	.container-sales-information {
		margin: 0 25px;
	}

	.container-sales-information__sales-details {
		padding-right: 15px;
	}

	.price span:first-child {
		font-size: 1.2rem;
	}

	.container-shopping-cart-and-Preview {
		margin-top: 20px;
	}

	.shopping-cart , .container-show-product:hover .shopping-cart {
		padding: 14px 10px;
	}

	.preview , .container-show-product:hover .preview{
		padding: 14px 15px;
	}

	.container-slider-show__more-info___container-title-and-timer {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 25px;
	}

	.container-slider-show__more-info___container-title-and-timer__timer {
		align-self: center;
		margin-top: 15px;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price__AddToBasket {
		flex-direction: column;
	}

	.slider-show-preview {
		margin-right: 0;
	}	

	.container-slider-show-bottom-link{
		width: calc(100% - 30px);
		margin: 0 15px;
	}

	.container-slider-show-bottom-link a:first-child{
		display: none;
	}

	.container-slider-show-bottom-link a:last-child{
		display: block;
	}

	.container-new-products .container-common__show-products , .total-container-selected-designer-of-the-week .container-common__show-products{
		grid-template-columns: repeat( 2 , 1fr);
		gap: 30px;
	}

	.container-new-products .container-show-product {
		height: 472px;
	}

	.container-new-products .container-show-product h1 {
		height: fit-content;
	}

	.container-new-products .container-show-product__container-sales-information , .container-new-products .container-show-product:hover .container-show-product__container-sales-information { 
		top: 305px;
	}

	.container-new-products .shopping-cart , .container-new-products .container-show-product:hover .shopping-cart , .container-new-products .preview ,.container-new-products .container-show-product:hover .preview , .total-container-selected-designer-of-the-week .shopping-cart , .total-container-selected-designer-of-the-week .container-show-product:hover .shopping-cart , .total-container-selected-designer-of-the-week .preview , .total-container-selected-designer-of-the-week .container-show-product:hover .preview{
		padding: 12px 18px;
	}

	.container-page-builders .second-container{
		grid-template-columns: repeat(3 , 1fr);
	}

	.container-page-builder__links{
		padding: 60px;
	}

	.container-Offer{
		width: 100%;
	}

	.container-Offer:nth-child(2){
		margin: 20px 0 ;
	}

	.container-Offer:nth-child(3){
		margin-top: 0 ;
	}

	.total-container-selected-designer-of-the-week .container-show-product{
		height: 485px;
	}

	.total-container-selected-designer-of-the-week .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product:hover .container-show-product__container-sales-information { 
		top: 311px;
	}

	.container-sell-and-favorite {
		justify-content: center;
	}

	.container-design-all-products {
		margin: 98px auto 0;
	}
}

@media (max-width : 767px){
	.container , .second-container{
		max-width: 520px;
	}

	.header__left-container__easy-access , .header__left-container__container-register__register{
		display: none;
	}

	.header__left-container__container-register{
		padding: 17px;
	}

	.header__left-container__container-register .fa-user-circle-o {
		margin-left: 0;
	}

	.container-intro-rastChin__second-title{
		line-height: 40px;
	}

	.cash-back{
		flex-direction: column;
	}

	.container-for-more-intro-rastChin div:first-child a{
		margin-top: 15px;
	}

	.about-rastChin{
		margin: 20px 0;
	}

	.container-show-product {
		width: 75%;
		height: 496px;
	}

	.container-show-product__container-sales-information, .container-show-product:hover .container-show-product__container-sales-information {
		top: 326px;
	}

	.percentage-like span:first-child , .sales-number span:first-child , .total-container-selected-designer-of-the-week.first-container-for-common-style .container-sales-information__sales-details div:not(:last-child) span:first-child{
		font-size: 1.13rem;
	}

	.price span:first-child , .total-container-selected-designer-of-the-week.first-container-for-common-style .price span:first-child  {
		font-size: 1rem;
	}

	.sales-number span:last-child, .percentage-like span:last-child, .price span:last-child{
		font-size: .8rem;
	}

	.shopping-cart, .container-show-product:hover .shopping-cart ,.preview, .container-show-product:hover .preview  {
		padding: 14px 24px;
	}

	.shopping-cart a , .preview a {
		font-size: .94rem;
	}

	.container-slider-show__more-info{
		padding: 20px 0;
	}

	.container-slider-show__more-info___container-title-and-timer__title , .container-slider-show__more-info___container-AddToBasket-and-price__AddToBasket , .container-slider-show__more-info___container-AddToBasket-and-price__price  {
		padding: 0 20px;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price {
		flex-direction: column-reverse;
		align-items: stretch;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price__price {
		justify-content: space-evenly;
	}

	.slider-show-AddToBasket, .slider-show-preview {
		max-width: 100%;
	}

	.slider-show-AddToBasket {
		margin: 20px 0 10px 0;
	}

	.slider-show-AddToBasket a , .slider-show-preview a {
		font-size: .88rem ;
	}

	.container-banner{
		justify-content: center;
	}

	.container-banner__btn button{
		margin-left: 0;
	}

	.container-new-products .container-common__show-products , .total-container-selected-designer-of-the-week .container-common__show-products{
		grid-template-columns: 1fr;
		row-gap: 30px;
		column-gap: 0;
	}

	.container-new-products .container-show-product {
		height: 535px;
	}

	.container-new-products .container-show-product__container-sales-information , .container-new-products .container-show-product:hover .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product:hover .container-show-product__container-sales-information{ 
		top: 373px;
	}

	.total-container-selected-designer-of-the-week .container-show-product h1 {
		height: fit-content;
	}

	.container-new-products .shopping-cart , .total-container-selected-designer-of-the-week .shopping-cart{
		flex-grow: 1;
		margin-left: 15px;
	}

	.container-new-products .preview , .total-container-selected-designer-of-the-week .preview{
		flex-grow: .5;
	}

	.container-page-builders .second-container{
		grid-template-columns: repeat(2 , 1fr);
	}

	.total-container-selected-designer-of-the-week .container-show-product{
		height: 548px;
	}

	.container-show-product.container-show-product--total-container-for-design{
		height: fit-content;
	}

	.container-design-all-products , .container-design-all-products__btn {
		width: 100%;
	}
}

@media (max-width : 575px){
	.header{
		padding: 20px 15px;
	}

	.container-intro-rastChin {
		padding: 100px 15px 70px;
	}

	.container-menu-hamburger {
		margin-left: 15px;
	}
	
	.header .logo-site{
		height: 38px;
	}

	.total-container-search{
		width: calc(100% - 30px);
		margin: 0 15px;
	}

	.container-all-products span{
		font-size: .76rem ;
	}

	.container-all-products .fa-angle-down {
		font-size: .8rem;
	}

	.container-all-products__input-search{
		width: calc(100% - 144px );
	}

	.container-all-products__input-search::placeholder{
		font-size: .8rem;
	}

	.total-container-slider-show , .container-latest-products-titles{
		padding: 0 15px;
	}

	.first-container-for-common-style , .second-container-for-common-style {
		padding: 0 15px 65px 15px;
	}

	.container-new-products{
		padding: 33px 15px 20px;
	}

	.container-page-builders , .total-container-Offers {
		padding: 0 15px;
	}

}

@media (max-width:550px){
	main > .second-container:nth-child(4){
		max-width: calc(100% - 30px);
		margin: 60px 15px;
	}
}

@media (max-width:520px){
	.container-show-product {
		width: calc( 100% - 36px );
	}

	.shopping-cart {
		flex-grow: 1;
		margin-left: 15px;
	}

	.preview {
		flex-grow: .5;
	}

	.shopping-cart, .container-show-product:hover .shopping-cart, .preview, .container-show-product:hover .preview {
		padding: 14px 35px;
	}

	.container-shopping-cart-and-Preview {
		padding: 0 ;
	}

	.shopping-cart a, .preview a {
		font-size: .85rem;
	}
}

@media (max-width:509px){

	.container-latest-products-title__container-left {
		padding: 15px ;
	}

	.container-latest-products-title__container-left__nine-to-square , .container-latest-products-title__container-left span{
		display: none;
	}

	.container-latest-products-title__second-container-mid{
		overflow-x: scroll;
		justify-content: flex-start;
	}

	.container-latest-products-title__second-container-mid a{
		flex-shrink: 0;
	}

	.container-latest-products-title__container-left__under-menu{
		right: -184px;
	}
}

@media (max-width : 480px){
	.container , .second-container , main > .second-container:nth-child(4) , .container-latest-products-title__second-container-mid{
		max-width: 360px;
	}

	.container-all-products{
		margin-left: 8px ;
	}

	.container-all-products span{
		display: none;
	}

	.container-all-products .fa-angle-down{
		margin-right: 0;
	}

	.container-all-products__input-search{
		width: 100%;
	}

	.container-sales-information__sales-details {
		padding-right: 0;
	}
	
	.shopping-cart, .container-show-product:hover .shopping-cart, .preview, .container-show-product:hover .preview {
		padding: 14px 15px;
	}

	.slider-show-AddToBasket a, .slider-show-preview a {
		font-size: .8rem;
	}

	.container-slider-show-bottom-link a:first-child{
		display: block;
	}

	.container-slider-show-bottom-link a:last-child{
		display: none;
	}

	.container-latest-products-title__container-right h2 {
		font-size: 1rem;
	}

	main > .second-container:nth-child(4){
		margin: 60px auto;
	}

	.container-latest-products-title__second-container-mid{
		margin: 12px auto 40px;
	}

	.container-new-products .container-show-product{
		height: 457px;
	}

	.container-new-products .container-show-product__container-sales-information , .container-new-products .container-show-product:hover .container-show-product__container-sales-information{ 
		top: 295px;
	}

	.second-container-for-common-style{
		padding: 40px 0 20px;
	}

	.container-page-builders .second-container{
		grid-template-columns: .75fr;
		justify-content: center;
		column-gap: 0;
		row-gap: 20px;
	}

	.container-Offer__total-container-link__title {
		font-size: .9rem;
	}

	.container-Offer__total-container-link__description{
		font-size: .75rem;
	}

	.total-container-selected-designer-of-the-week .container-show-product{
		height: 475px;
	}

	.total-container-selected-designer-of-the-week .container-show-product__container-sales-information , .total-container-selected-designer-of-the-week .container-show-product:hover .container-show-product__container-sales-information { 
		top: 306px;
	}
}

@media (max-width: 390px){
	main > .second-container:nth-child(4){
		width: calc(100% - 30px);
		margin: 60px 15px;
	}

}

@media (max-width: 380px) {

	.first-container-for-common-style {
		padding: 0 15px 95px 15px ;
	}

	.second-container-for-common-style{
		padding: 40px 15px 20px;
	}

	.container-common__show-products::before{
		display: none;
	}
	
	.container-show-product {
		width: calc( 100% - 10px );
		margin: 0 5px;
	}
	
	.shopping-cart, .container-show-product:hover .shopping-cart, .preview, .container-show-product:hover .preview {
		padding: 14px 18px;
	}

	.slider-show-AddToBasket {
		margin: 20px 0;
	}

	.total-container-the-hottest-page-builder-plugins .container-common__product__title h2 , .total-container-essential-plugins-to-increase-sales h2 , .total-container-the-best-multi-selling-templates-of-the-week h2 , .total-container-the-hottest-formats-similar-to-digikala h2{
		font-size: .95rem ;
		line-height: 25px;
	}

}

@media (max-width : 362px){
	.header .container{
		flex-direction: column;
	}

	.container-menu-hamburger-and-logo{
		justify-content: space-between;
	}

	.header__left-container{
		justify-content: center;
		margin-top: 15px;
	}

	.container-show-product {
		height: 550px;
	}

	.percentage-like{
		margin: 0 10px;
	}

	.container-shopping-cart-and-Preview {
		flex-direction: column;
	}

	.shopping-cart{
		margin: 0 0 15px 0;
	}

	.container-slider-show__more-info {
		padding: 20px 0 0;
	}

	.container-slider-show__more-info___container-AddToBasket-and-price__price {
		justify-content: space-between;
	}

	.container-new-products .shopping-cart , .total-container-selected-designer-of-the-week .shopping-cart {
		margin-left: 0;
	}

	.container-new-products .container-show-product {
		height: 512px;
	}

	.container-Offer__total-container-link__description{
		line-height: 23px;
	}

	.total-container-selected-designer-of-the-week .container-show-product{
		height: 528px;
	}

	.container-design-img-and-title{
		flex-direction: column;
	}

	.container-design-img-and-title__container-title {
		margin-right: 0;
		margin-top: 20px;
	}

	.container-design-all-products {
		margin: 55px auto 0;
	}
}

@media (max-width : 320px){

	.container-latest-products-title__container-right h2 {
		font-size: .9rem;
	}

	.container-slider-show__more-info___container-title-and-timer__timer {
		flex-wrap: wrap;
		justify-content: center;
	}

	.counter-commom-style {
		margin-right: 10px;
		margin-top: 10px;
	}
}